.bookings-panel {
	margin: 40px 0 20px;
	display: block;
}

.put-my-name-down-panel {
	width: 300px;
	margin-right: 20px;
	float: left;
}

.book-a-table-panel {
	width: 300px;
	float: left;
}

.booking-panel-heading {
	color: #ffffff;
	font-size: 1.3em;
	text-transform: uppercase;
}

.booking-panel-login-copy {
	font-size: 0.9em;
	color: #ffffff;
	padding: 5px 0;
}

.booking-panel-login-link {
	font-weight: 700;
	color: #05C3F5;

	&:hover {
		text-decoration: none;
	}
}