.breadcrumb {
	padding: 10px 0 0 20px;

	> li {
		float: left;
		padding-right: 4px;
		color: #05C3F5;
		font-weight: 700;
		font-size: 1.1em;
	}

	&.club {
		padding-top: 55px;
	}
}

.breadcrumb-link {
	text-decoration: none;
	color: #05C3F5;
	margin-right: 5px;

	&.is-active {
		color: #a3b7c4;
	}
}