header {
	position: relative;
	height: 80px;
}

.header-logo {
	width: 307px;
	height: 67px;
	background-position: 0 0;
	text-indent: -9999px;

	position: absolute;
	top: 13px;
	left: 20px;
}

.header-logo-link {
	display: block;
	height: 100%;
}

.header-nav {
	position: absolute;
	top: 8px;
	right: 10px;

	& > li {
		float: left;
	
		&:first-child > a {
			border-left: 0;
		}
	}
}

.header-nav-link {
	text-decoration: none;
	color: #00ccff;
	font-weight: 700;
	border-left: 1px solid #00ccff;
	font-size: 0.8em;
	padding: 0 10px;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}
}

.header-location {
	font-size: 1.3em;
	color: #a3b6c3;
	position: absolute;
	bottom: 0;
	right: 20px;
	text-transform: uppercase;
}