body
{
	background: #000000 url('../img/bg.jpg') 50% 0 no-repeat;
}

.content {
	background-color: #111621;
	opacity: 0.9;
	width: 660px;
	margin: 0 auto;

	min-height: 800px;
}

.sprites {
	background: url('../img/sprites.png') 0 0 no-repeat;
}