html, body {
	height: 100%;
}

body
{
	background: #000000 url('../img/bg.jpg') 50% 0 no-repeat;
}

.content {
	width: 660px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;

	background-color: #111621;
	opacity: 0.9;
}

.sprites {
	background: url('../img/sprites.png') 0 0 no-repeat;
}