body {
  background: black url("../img/bg.jpg") 50% 0 no-repeat; }

.content {
  background-color: #111621;
  opacity: 0.9;
  width: 660px;
  margin: 0 auto;
  min-height: 800px; }

.sprites {
  background: url("../img/sprites.png") 0 0 no-repeat; }

header {
  position: relative;
  min-height: 80px; }

.header-logo {
  width: 307px;
  height: 67px;
  background-position: 0 0;
  text-indent: -9999px;
  position: absolute;
  top: 13px;
  left: 0; }

.header-logo-link {
  display: block;
  height: 100%; }

.header-nav {
  position: absolute;
  top: 8px;
  right: 50px; }
  .header-nav > li {
    float: left; }
    .header-nav > li:first-child > a {
      border-left: 0; }

.header-nav-link {
  text-decoration: none;
  color: #00ccff;
  font-weight: 700;
  border-left: 1px solid #00ccff;
  font-size: 0.8em;
  padding: 0 10px;
  text-transform: uppercase; }
  .header-nav-link:hover {
    text-decoration: underline; }

